.chordList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.chordContainer {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 300px;
  width: 300px;
  font-size: 40px;
  font-weight: bold;
}

.chord {
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-right: 2px;
}

.time {
  font-size: 18px;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
