.timeLineScrollContainer {
  overflow-y: scroll;
}

.timeTracker {
  height: 10px;
  background-color: #4e252b;
  border-right: 10px solid #d91902;
}

.timeLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeRuler {
  color: #4e252b;
  border: 1px solid #4e252b;
  /* border-radius: 5px; */
  justify-content: space-between;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.secondBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.secondBox > span {
  font-size: 14px;
  margin-left: -14px;
  flex: 1;
}

.secondMark {
  height: 40%;
  border-right: 1px solid #4e252b;
}

.halfSecondMark {
  height: 20%;
  border-right: 1px solid black;
}

h3 {
  text-align: center;
  color: #4e252b;
}

.chordList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 300px;
}

.chordContainer {
  display: flex;
  flex-direction: column;
  flex: none;
  font-size: 30px;
  font-weight: bold;
}

.chord {
  display: flex;
  background-color: #f1be57;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 10px;
  color: #4e252b;
}

.playedChord {
  background-color: #dd9907;
}

.playBarTime {
  border-left: 2px solid darkblue;
  height: 385px;
  position: absolute;
}

.time {
  font-size: 18px;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dd9907;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e252b;
}
